/* ----- Users -----*/

/* Grom */
.printuser a:only-child[href*=dr-grom]::before {
    background: linear-gradient(110deg, var(--de_o4) 49%, var(--de_tt) 51%);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=dr-grom]::after {
    background: linear-gradient(var(--de_o4) 6px, #2c2c2c 7px, var(--de_tt) 7px);
    content: " ";
}
.printuser a:last-child[href*=dr-grom]:hover::after {
    content: "Administrator, Technik-Team";
}

/* Rik */
.printuser a:only-child[href*=rikjard-regreps]::before {
    background: var(--de_o4);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=rikjard-regreps]::after {
    background: var(--de_o4);
    content: " ";
}
.printuser a:last-child[href*=rikjard-regreps]:hover::after {
    content: "Administrator";
}

/* Ore */
.printuser a:only-child[href*=dr-ore]::before {
    background: var(--de_o4);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=dr-ore]::after {
    background: var(--de_o4);
    content: " ";
}
.printuser a:last-child[href*=dr-ore]:hover::after {
    content: "Administrator";
}

/* Robini */
.printuser a:only-child[href*=robini]::before {
    background: var(--de_o4);
    content: " ";
	width: 8px;
}
.printuser > a:first-child:not(:only-child)[href*=robini]::after {
    background: var(--de_o4);
    content: " ";
}
.printuser a:last-child[href*=robini]:hover::after {
    content: "Administrator";
}

/* Kibanashote */
*.printuser a:only-child[href*=kibanashote]::before {
    background: linear-gradient(110deg, var(--de_o4) 32%, var(--de_nt) 34%, var(--de_nt) 64%, var(--de_mt) 66%);
    content: " ";
	width: 24px;
}
.printuser > a:first-child:not(:only-child)[href*=kibanashote]::after {
    background: linear-gradient(var(--de_o4) 4px, #2c2c2c, var(--de_nt) 5px, var(--de_nt) 9px, #2c2c2c, var(--de_mt) 10px);
    content: " ";
}
.printuser a:last-child[href*=kibanashote]:hover::after {
    content: "Administrator, News-Team, Mentor";
}

/* Cyberion */
.printuser a:only-child[href*=doktor-cyberion]::before {
    background: linear-gradient(110deg, var(--de_o4) 32%, var(--de_ub) 34%, var(--de_ub) 64%, var(--de_mt) 66%);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=doktor-cyberion]::after {
    background: linear-gradient(var(--de_o4) 4px, #2c2c2c, var(--de_ub) 5px, var(--de_ub) 9px, #2c2c2c, var(--de_mt) 10px);
    content: " ";
}
.printuser a:last-child[href*=doktor-cyberion]:hover::after {
    content: "Administrator, Übersetzer, Mentor";
}

/* Rossboss */
.printuser a:only-child[href*=rossboss02]::before {
    background: linear-gradient(110deg, var(--de_o4) 49%, var(--de_fb) 51%);
    content: " ";
	width: 24px;
}
.printuser > a:first-child:not(:only-child)[href*=rossboss02]::after {
    background: linear-gradient(var(--de_o4) 6px, #2c2c2c 7px, var(--de_fb) 7px);
    content: " ";
}
.printuser a:last-child[href*=rossboss02]:hover::after {
    content: "Administrator, Freigabebeauftragter";
}

/* Sebzumbruck Mod, Freigabe, News, Mentor */
*.printuser a:only-child[href*=sebzumbruck]::before {
    background: linear-gradient(110deg, var(--de_md) 32%, var(--de_nt) 34%, var(--de_nt) 64%, var(--de_fb) 66%);
    content: " ";
	width: 24px;
}
.printuser > a:first-child:not(:only-child)[href*=sebzumbruck]::after {
    background: linear-gradient(var(--de_md) 4px, #2c2c2c, var(--de_nt) 5px, var(--de_nt) 9px, #2c2c2c, var(--de_fb) 10px);
    content: " ";
}
.printuser a:last-child[href*=sebzumbruck]:hover::after {
    content: "Moderator, Freigabebeauftragter, News-Team";
}*

/* Flaming, Mod, Korrektur, Mentor */
.printuser a:only-child[href*=flaming2204]::before {
    background: linear-gradient(110deg, var(--de_md) 32%, var(--de_kb) 34%, var(--de_kb) 64%, var(--de_mt) 66%);
    content: " ";
	width: 24px;
}
.printuser > a:first-child:not(:only-child)[href*=flaming2204]::after {
    background: linear-gradient(var(--de_md) 4px, #2c2c2c, var(--de_kb) 5px, var(--de_kb) 9px, #2c2c2c, var(--de_mt) 10px);
    content: " ";
}
.printuser a:last-child[href*=flaming2204]:hover::after {
    content: "Moderator, Korrekturbeauftragter, Mentor";
}

/* Allnyta Mod, Freigabe */
.printuser a:only-child[href*=allnyta]::before {
    background: linear-gradient(110deg, var(--de_md) 49%, var(--de_fb) 51%);
    content: " ";
	width: 24px;
}
.printuser > a:first-child:not(:only-child)[href*=allnyta]::after {
    background: linear-gradient(var(--de_md) 6px, #2c2c2c 7px, var(--de_fb) 7px);
    content: " ";
}
.printuser a:last-child[href*=allnyta]:hover::after {
    content: "Moderator, Freigabebeauftragter";
}

/* Freigabe + News + Mentor */
/*.printuser a:only-child[href*=]::before {
    background: linear-gradient(110deg, var(--de_fb) 32%, var(--de_nt) 34%, var(--de_nt) 64%, var(--de_ub) 66%);
    content: " ";
	width: 24px;
}
.printuser > a:first-child:not(:only-child)[href*=]::after {
    background: linear-gradient(var(--de_fb) 4px, #2c2c2c, var(--de_nt) 5px, var(--de_nt) 9px, #2c2c2c, var(--de_ub) 10px);
    content: " ";
}
.printuser a:last-child[href*=]:hover::after {
    content: "Freigabebeauftragter, News-Team, Mentor";
}*/

/* Freigabe + News + Übersetzer 
.printuser a:only-child[href*=sebzumbruck]::before {
    background: linear-gradient(110deg, var(--de_fb) 32%, var(--de_nt) 34%, var(--de_nt) 64%, var(--de_ub) 66%);
    content: " ";
	width: 24px;
}
.printuser > a:first-child:not(:only-child)[href*=sebzumbruck]::after {
    background: linear-gradient(var(--de_fb) 4px, #2c2c2c, var(--de_nt) 5px, var(--de_nt) 9px, #2c2c2c, var(--de_ub) 10px);
    content: " ";
}
.printuser a:last-child[href*=sebzumbruck]:hover::after {
    content: "Freigabebeauftragter, News-Team, Übersetzer";
}*/

/* Freigabe + Mentor */
/*
.printuser a:only-child[href*=dr-himy]::before {
    background: linear-gradient(110deg, var(--de_fb) 49%, var(--de_mt) 51%);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=dr-himy]::after {
    background: linear-gradient(var(--de_fb) 6px, #2c2c2c 7px, var(--de_mt) 7px);
    content: " ";
}
.printuser a:last-child[href*=dr-himy]:hover::after {
    content: "Freigabebeauftragter, Mentor";
}
*/

/* Freigabe + News Team */
/*.printuser a:only-child[href*=sebzumbruck]::before {
    background: linear-gradient(110deg, var(--de_fb) 49%, var(--de_nt) 51%);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=sebzumbruck]::after{
    background: linear-gradient(var(--de_fb) 6px, #2c2c2c 7px, var(--de_nt) 7px);
    content: " ";
}
.printuser a:last-child[href*=sebzumbruck]:hover::after{
    content: "Freigabebeauftragter, News-Team";
} */

/* News + Mentor */
/*
.printuser a:only-child[href*=arogas]::before {
    background: linear-gradient(110deg, var(--de_nt) 49%, var(--de_mt) 51%);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=arogas]::after {
    background: linear-gradient(var(--de_nt) 6px, #2c2c2c 7px, var(--de_mt) 7px);
    content: " ";
}
.printuser a:last-child[href*=arogas]:hover::after {
    content: "News-Team, Mentor";
} 
*/

/* Übersetzer + Korrektur */
.printuser a:only-child[href*=dr-alice]::before {
    background: linear-gradient(110deg, var(--de_ub) 49%, var(--de_kb) 51%);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=dr-alice]::after {
    background: linear-gradient(var(--de_ub) 6px, #2c2c2c 7px, var(--de_kb) 7px);
    content: " ";
}
.printuser a:last-child[href*=dr-alice]:hover::after {
    content: "Übersetzerin, Korrekturbeauftragte";
} 

/* Vertonungsbeauftragter + News Team */
.printuser a:only-child[href*=/pesti]::before {
    background: linear-gradient(110deg, var(--de_vb) 49%, var(--de_nt) 51%);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=/pesti]::after{
    background: linear-gradient(var(--de_vb) 6px, #2c2c2c 7px, var(--de_nt) 7px);
    content: " ";
}
.printuser a:last-child[href*=/pesti]:hover::after{
    content: "Vertonungsbeauftragter, News-Team";
} 

/* Vertonung */
/*.printuser a:only-child[href*=/pesti]::before {
    background: var(--de_vb);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=/pesti]::after {
    background: var(--de_vb);
    content: " ";
}
.printuser a:last-child[href*=/pesti]:hover::after {
    content: "Vertonungsbeauftragter";
}*/

/* News-Team */
.printuser a:only-child[href*=ibimsbluexiio]::before {
    background: var(--de_nt);
    content: " ";
}
.printuser > a:first-child:not(:only-child)[href*=ibimsbluexiio]::after {
    background: var(--de_nt);
    content: " ";
}
.printuser a:last-child[href*=ibimsbluexiio]:hover::after {
    content: "News-Team";
}

/* Technikteam */
.printuser a:only-child[href*=survari]::before {
    background: var(--de_tt);
    content: " ";
	width: 8px;
}
.printuser > a:first-child:not(:only-child)[href*=survari]::after {
    background: var(--de_tt);
    content: " ";
}
.printuser a:last-child[href*=survari]:hover::after {
    content: "Technik-Team";
}

/* Korrektur */
.printuser a:only-child[href*=evil-santa]::before {
    background: var(--de_kb);
    content: " ";
	width: 8px;
}
.printuser > a:first-child:not(:only-child)[href*=evil-santa]::after {
    background: var(--de_kb);
    content: " ";
}
.printuser a:last-child[href*=evil-santa]:hover::after{
    content: "Korrekturbeauftragter";
}

/* Übersetzer */
.printuser a:only-child[href*=alphaorion]::before,
.printuser a:only-child[href*=archetyp]::before,
.printuser a:only-child[href*=drpeterwenzel]::before,
.printuser a:only-child[href*=dr-kuttelfisch]::before {
    background: var(--de_ub);
    content: " ";
	width: 8px;
}
.printuser > a:first-child:not(:only-child)[href*=alphaorion]::after,
.printuser > a:first-child:not(:only-child)[href*=drpeterwenzel]::after,
.printuser > a:first-child:not(:only-child)[href*=archetyp]::after,
.printuser > a:first-child:not(:only-child)[href*=dr-kuttelfisch]::after {
    background: var(--de_ub);
    content: " ";
}
.printuser a:last-child[href*=alphaorion]:hover::after,
.printuser a:last-child[href*=archetyp]:hover::after,
.printuser a:last-child[href*=drpeterwenzel]:hover::after,
.printuser a:last-child[href*=dr-kuttelfisch]:hover::after {
    content: "Übersetzer";
}

/* Freigabe*/
.printuser a:only-child[href*=rogarrabbit]::before,
.printuser a:only-child[href*=dr-himy]::before {
    background: var(--de_fb);
    content: " ";
	width: 8px;
}
.printuser > a:first-child:not(:only-child)[href*=rogarrabbit]::after,
.printuser > a:first-child:not(:only-child)[href*=dr-himy]::after {
    background: var(--de_fb);
    content: " ";
}
.printuser a:last-child[href*=rogarrabbit]:hover::after
.printuser a:last-child[href*=dr-himy]:hover::after, {
    content: "Freigabebeauftragter";
}

/* Mentor */
.printuser a:only-child[href*=gramlin]::before {
    background: var(--de_mt);
    content: " ";
	width: 8px;
}
.printuser > a:first-child:not(:only-child)[href*=gramlin]::after {
    background: var(--de_mt);
    content: " ";
}
.printuser a:last-child[href*=gramlin]:hover::after{
    content: "Mentor";
}
